<ul class="nav nav-tabs">
<% if %>
  <li class="<%= params[:controller] == 'employee_surveys' ? 'active' : ''%>"><%= link_to "Surveys", new_employee_survey_path(:id => params[:id]) %></li>
<% end %>
  <li class="<%= params[:controller] == 'employees' ? 'active' : ''%>"><%= link_to "Personal Data", edit_employee_path(:id => params[:id]) %></li>
  <li class="<%= params[:controller] == 'employee_working_datas' ? 'active' : ''%>"><%= link_to "Working Data", employee_working_datas_path(:id => params[:id]) %></li>
  <li class="<%= params[:controller] == 'employee_histories' ? 'active' : ''%>"><%= link_to "Employee History", employee_histories_path(:id => params[:id]) %></li>
  <li class="<%= params[:controller] == 'families' ? 'active' : ''%>"><%= link_to "Family Details", families_path(:id => params[:id]) %></li>
  <li class="<%= params[:action] == 'absence' ? 'active' : ''%>"><%= link_to "Absence", absence_employees_path(:id => params[:id]) %></li>
  <li class="<%= params[:controller] == 'performances' ? 'active' : ''%>"><%= link_to "Performance", performances_path(:id => params[:id]) %></li>
  <li class="<%= params[:controller] == 'salaries' ? 'active' : ''%>"><%= link_to "Salary History", salaries_path(:id => params[:id]) %></li>
</ul>