<div class="container-fluid">
      <ul class="breadcrumb">
            <li><p>YOU ARE HERE</p></li> 
            <li><a href="#" class="active">Employee</a></li>
        </ul>
        
        <div class="page-title">  
          <i class="fa fa-user"></i>
          <h3><span class="semi-bold">Employee</span></h3>  
        </div>
          <%= form_for @personal_data, :url => create_personal_data_employees_path do |f|%>
            <div id="form-target" class="grid simple">
              <div class="grid-body no-border has-tab">
                    <%= render '/employees/tab_nav'%>
                    <div class="tab-content">
                        <section class="tab-pane active" id="survey">
                          <div class="row">
                              <div class="col-sm-3">
                                  <div class="profile-user">
                                        <a class="opt-profile change tip" data-toggle="tooltip" data-placement="top" data-original-title="Upload"><i class="fa fa-upload"></i></a>
                                      <figure>
                                            <img src="/assets/profiles/user_def.png" alt="profile" />
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                  <div class="gen-form">
                                      <div class="form-group row">
                                       <label class="form-label col-sm-4">First Name </label>
                                              <div class="controls col-sm-8">            
                                                 <%= f.text_field :first_name, :class => "full-width" %>
                                              </div>
                                          </div>
                                          <div class="form-group row">
                                              <label class="form-label col-sm-4">Last Name </label>
                                              <div class="controls col-sm-8">            
                                                 <%= f.text_field :last_name, :class => "full-width" %>
                                              </div>
                                          </div>
                                          <div class="form-group row">
                                              <label class="form-label col-sm-4">Gender </label>
                                              <div class="controls col-sm-8">            
                                                 <div class="radio">
                                                      <input id="male" type="radio" name="gender" value="male" checked="checked">
                                                      <label for="male">Male</label>
                                                      <input id="female" type="radio" name="gender" value="female">
                                                      <label for="female">Female</label>
                                                    </div>

                                              </div>
                                          </div>
                                          
                                          <div class="form-group row">
                                              <label class="form-label col-sm-4">Place/Date if Birth </label>
                                              <div class="controls col-sm-4">            
                                                 <%= f.text_field :place, :class => "full-width" %>
                                              </div>
                                              <div class="controls col-sm-4">            
                                                 <div class="input-append success date">
                                                        <%= f.text_field :birth, :class => "form-control full-width" %>
                                                        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> 
                                                    </div>
                                              </div>
                                          </div>
                                          <div class="form-group row">
                                              <label class="form-label col-sm-4">Age </label>
                                              <div class="controls col-sm-8">            
                                                 26
                                              </div>
                                          </div>
                                          
                                          <div class="form-group row">
                                              <label class="form-label col-sm-4">Religion </label>
                                              <div class="controls col-sm-8">            
                                                 <%= f.select :religion, options_for_select(@religion), {:prompt => '--select--'},{:class => "form-control"} %>
                                              </div>
                                          </div>
                                          <div class="form-group row">
                                              <label class="form-label col-sm-4">Status </label>
                                              <div class="controls col-sm-8">            
                                                 <%= f.select :status, options_for_select(@status), {:prompt => '--select--'},{:class => "form-control"} %>
                                              </div>
                                          </div>
                                          <div class="form-group row">
                                              <label class="form-label col-sm-4">Nationaly </label>
                                              <div class="controls col-sm-8">            
                                                 <%= f.text_field :nationality, :class => "full-width" %>
                                              </div>
                                          </div>
                                          
                                          <div class="form-group row">
                                              <label class="form-label col-sm-4">Email </label>
                                              <div class="controls col-sm-8">            
                                                 <%= f.email_field :email, :class => "full-width" %>
                                              </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
            <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
              <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="bold text-uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                   <i class="fa fa-stethoscope"></i> Health Info and Affair
                                </a>
                              </h4>
                            </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body gen-form">
                
                <!-- Health Inro -->
                
                <section class="row column-seperation">
                  <div class="col-sm-6">
                    <div class="gen-form">
                    <%= fields_for :health do |health| %>
                      <div class="form-group">
                        <h5 class="bold">Health Informmation</h5>
                     </div>
                     <div class="form-group row">
                        <label class="form-label col-sm-5">Color Blind</label>
                        <div class="controls col-sm-7">            
                          <div class="radio">
                          : <input id="colory" type="radio" name="color" value="y"> 
                          <label for="colory">Yes</label>
                          <input id="colorn" type="radio" name="color" value="n" checked />
                          <label for="colorn">No</label>
                          </div>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Blood Type</label>
                        <div class="controls col-sm-7">            
                          <div class="radio">
                          : <input id="blooda" type="radio" name="blood" value="blooda" checked/>
                          <label for="blooda">A</label>
                          <input id="bloodb" type="radio" name="blood" value="blooda" />
                          <label for="bloodb">B</label>
                          <input id="bloodab" type="radio" name="blood" value="bloodab" />
                          <label for="bloodab">AB</label>
                          <input id="bloodo" type="radio" name="blood" value="bloodo" />
                          <label for="bloodo">O</label>
                          </div>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Height</label>
                        <div class="controls col-sm-7">            
                          : <%= health.number_field :height %> cm
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Weight</label>
                        <div class="controls col-sm-7">            
                          : <%= health.number_field :weight %> kg
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">History of Disease</label>
                        <div class="controls col-sm-7">            
                          : <%= health.text_area :history, :class => "full-width", :rows => '8'%>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Health Benefit</label>
                        <div class="controls col-sm-7">            
                          : <%= health.text_field :health_benefit %>
                        </div>
                       </div>
                    <% end %>
                    </div>
                  </div>
                  <!-- END -->
                  
                  <!-- Employee Affair-->
                  <div class="col-sm-6">
                    <div class="gen-form">
                    <%= fields_for :affair do |affair| %>
                      <div class="form-group">
                        <h5 class="bold">Employee Affair</h5>
                     </div>
                     <div class="form-group row">
                        <label class="form-label col-sm-5">NIK</label>
                        <div class="controls col-sm-7">            
                          : <%= affair.text_field :nik, :class => 'full-width' %>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Date of Start Work</label>
                        <div class="controls col-sm-7">
                        <span class="pull-left">:</span>
                          <div class="input-append success date">
                           <%= affair.text_field :start_work, :class => 'form-control full-width' %>
                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> 
                          </div>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Organization</label>
                        <div class="controls col-sm-7">            
                          : <%= affair.select :organization_id, options_for_select(@organizations), {:prompt => '--select--'} %>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Position</label>
                        <div class="controls col-sm-7">            
                          : <%= affair.select :position_id, options_for_select(@organizations), {:prompt => '--select--'} %>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Tax Status</label>
                        <div class="controls col-sm-7">            
                          : <%= affair.select :tax_status, options_for_select(@organizations), {:prompt => '--select--'} %>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">No. NPWP</label>
                        <div class="controls col-sm-7">            
                         : <%= affair.text_field :no_npwp, :class => 'full-width' %>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">No. ID</label>
                        <div class="controls col-sm-7">            
                         : <%= affair.text_field :no_id, :class => 'full-width' %>
                        </div>
                       </div>
                    <% end %>
                    </div>
                  </div>
                </section>
                <!-- END -->
                
                </div>
              </div>
              </div>
            </div> 
                        
                    
            <div class="panel-group" id="accordion2">
                          <div class="panel panel-default">
              <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="bold text-uppercase" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                   <i class="fa fa-phone"></i> Contact
                                </a>
                              </h4>
                            </div>
              <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body gen-form">
                
                <!-- Contact Inro -->
                
                <section class="row column-seperation">
                  <div class="col-sm-6">
                    <div class="gen-form">
                    <%= fields_for :emergency_kontak do |emergency_kontak| %>
                      <div class="form-group">
                        <h5 class="bold">Emergency Contact</h5>
                     </div>
                      <div class="form-group row">
                        <label class="form-label col-sm-5">Name</label>
                        <div class="controls col-sm-7">            
                         : <%= emergency_kontak.text_field :name, :class => 'full-width' %>
                        </div>
                       </div> 
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Phone Number</label>
                        <div class="controls col-sm-7">            
                         : <%= emergency_kontak.text_field :phone_number, :class => 'full-width' %>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Relationship</label>
                        <div class="controls col-sm-7">            
                         : <%= emergency_kontak.text_field :relationship, :class => 'full-width' %>
                        </div>
                       </div> 
                      <% end %>
                    </div>
                  </div>
                  <!-- END -->
                  
                  <!-- Employee Affair-->
                  <div class="col-sm-6">
                    <div class="gen-form">
                    <%= fields_for :contacts_number do |contacts_number| %>
                      <div class="form-group">
                        <h5 class="bold">Contact Number</h5>
                     </div>
                      <div class="form-group row">
                        <label class="form-label col-sm-5">Home</label>
                        <div class="controls col-sm-7">            
                         : <%= contacts_number.text_field :home, :class => 'full-width' %>
                        </div>
                       </div> 
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Handphone</label>
                        <div class="controls col-sm-7">            
                         : <%= contacts_number.text_field :handphone, :class => 'full-width' %>
                        </div>
                       </div>
                       <div class="form-group row">
                        <label class="form-label col-sm-5">Office</label>
                        <div class="controls col-sm-7">            
                         : <%= contacts_number.text_field :office, :class => 'full-width' %>
                        </div>
                       </div> 
                    <% end %>
                    </div>
                  </div>
                </section>
                <!-- END -->
                
                </div>
              </div>
              </div>
            </div>
            
            
            <div class="panel-group" id="accordion3x">
                          <div class="panel panel-default">
              <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="bold text-uppercase" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                                   <i class="fa fa-home"></i> Address Info
                                </a>
                              </h4>
                            </div>
              <div id="collapseThree" class="panel-collapse collapse in">
                <div class="panel-body gen-form">
                
                <div class="row toolbar-block">
                                  <div class="col-md-8 col-md-offset-4">
                                    <div class="toolbar pull-right" id="toolbar_upload">
                                            <div class="table-tools-actions">
                                                
                                                <div class="separator">&nbsp;</div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <table class="table no-more-tables table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:1%" >
                                                <div class="checkbox check-default">
                                                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                                    <label for="checkbox10"></label>
                                                </div>
                                            </th>
                                            <th style="width:10%">Province</th>
                                            <th style="width:15%">Kota/kabupaten</th>
                                            <th style="width:15%">KEC/KEL</th>
                                            <th style="width:8%">RT/RW</th>
                                            <th style="width:5%">Kode POS</th>
                                            <th style="width:8%">Street</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        
                                    </tbody>
                                </table>
                
                </div>
              </div>
              </div>
            </div>
          <% end %>
        </div>
                </div>
                <div class="form-actions">
                            <div class="pull-right">
                              <a class="btn btn-success btn-cons" href="employee_working_data.html" type="submit">Next <i class="fa fa-arrow-circle-o-right"></i> </a>
                            </div>
                          </div>
            </div>
    </div>

    <script type="text/javascript">
      $("#form-target :input").prop("disabled", true);
    </script>