<table class="table no-more-tables table-striped table-hover">
    <thead>
        <tr>
            <th>No Recruitment</th>
            <th>Requester</th>
            <th>Organization</th>
            <th>Man Power</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    	<% if recruitments.count > 0 %>
				<% recruitments.where(:company_id => @current_company).each do |recruitment| %>
                <tr class="new-rec">
                    <td><%= link_to recruitment.no_recruitment , detail_recruitment_path(recruitment) %></td>
                    <td><%= recruitment.requester%></td>
                    <td><%= recruitment.organization.name%></td>
                    <td><%= recruitment.recruitment_details.count %></td>
                    <td><%= recruitment.due_date%></td>
                    <% if recruitment.status.downcase == "pending" %>
                    <td><span class="badge badge-warning"><%= recruitment.status%></span></td>
                    <% elsif recruitment.status.downcase == "cancel" %>
                    <td><span class="badge badge-danger"><%= recruitment.status%></span></td>
                    <% elsif recruitment.status.downcase == "closed" %>
                    <td><span class="badge badge-inverse"><%= recruitment.status%></span></td>
                    <% elsif recruitment.status.downcase == "approved" %>
                    <td><span class="badge badge-success"><%= recruitment.status%></span></td>
                    <% elsif recruitment.status.downcase == "open" %>
                    <td><span class="badge badge-success"><%= recruitment.status%></span></td>
                    <% end %>
                    <% if @approval_setting.present? %>
                    <td><%= link_to "<i class='fa fa-gear'></i>".html_safe, edit_recruitment_path(recruitment),:remote => true %></td>
                    <% end %>
                </tr>
            <% end %>
        <% else %>	
        	<tr>
		        <td colspan="6" align="center">No recruitment data found!</td>
		    </tr>
        <% end %>
    </tbody>
</table>

<div class="row dataTables_wrapper">
	<div class="col-md-12">
    	<div class="dataTables_paginate paging_bootstrap pagination">
        	<%= pagination_links(recruitments, :params => {:controller => controller_name, :action => action_name, :recruitment => {:name => (params[:recruitment][:name] if params[:user].present?), :period_start => (params[:recruitment][:period_start] if params[:user].present?), :period_end => (params[:recruitment][:period_end] if params[:user].present?), :status => (params[:recruitment][:status] if params[:user].present?)}}) %>
        </div>
        <% base = (params[:page].present? ? params[:page].to_i-1 : 0)*recruitments.per_page %>
    	<% if recruitments_count > 0 %>
	        <div class="dataTables_info">Showing <b><%= base+1 %> to <%= base+recruitments.per_page %></b> of <%= @recruitments_count %> entries</div>
	    <% end %>
    </div>
</div>