<table class="table no-more-tables table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Applicant Name</th>
                                <th>Attachment</th>
                                <th>Email</th>
                                <th>Apply Position</th>
                                <th>Interview Result</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @recruitment.interview_results.where(:status => "Selected").each do |ir| %>
                        <tr>
                            <td><%= ir.test_result.applicant_name %></td>
                            <td><%= link_to ir.test_result.attachment_url.split("/").last , ir.test_result.attachment_url %></td>
                            <td><%= ir.test_result.email %></td>
                            <td><%= ir.test_result.position.name %></td>
                            <td><%= ir.interview_result.truncate(50) %></td>
                            <td><%= ir.status %></td>
                            <td>
                            <% if @recruitment.status.downcase == "open" %>
                            <%= link_to "As Employee" , add_employee_recruitment_path(recruitment_id: ir.recruitment_id ,:name => ir.test_result.applicant_name , :position => ir.test_result.position , :organization => @recruitment.organization.id , :email => ir.test_result.email) , remote: true , method: :post %>
                            <% else %>
                                As Employee
                            <% end %>
                            </td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>