<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Employee name</Data></Cell>
        <Cell><Data ss:Type="String">Contract Type</Data></Cell>
        <Cell><Data ss:Type="String">Start</Data></Cell>
        <Cell><Data ss:Type="String">End</Data></Cell>
        <Cell><Data ss:Type="String">Attachment</Data></Cell>
      </Row>
    <% @contracts.each do |contract| %>
      <Row>
        <Cell><Data ss:Type="String"><%= contract.employee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.contract_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.start %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.end %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.attachment %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>