<% if params[:action] != "update" %>
    <tr id="data_<%= test_result.id %>">
<% end %>
    <td>
        <div class="checkbox check-default">
            <input id="checkbox<%= test_result.id %>" type="checkbox" value="<%= test_result.id %>" onchange="cek_checkbox();">
            <label for="checkbox<%= test_result.id %>"></label>
        </div>
    </td>
    <td><%= test_result.applicant_name %></td>
    <td><%= link_to test_result.attachment_url.split("/").last , test_result.attachment_url %></td>
    <td><%= test_result.email %></td>
    <td><%= test_result.cv_status %></td>
    <td>
        <div class="action-edit">
        <%= link_to "<i class='fa fa-pencil'></i>Edit".html_safe , edit_test_result_path(test_result,:for_applicant => 1), class: "edit tip", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-original-title' => 'Edit status' , :remote => true %> 
        </div>
    </td>
<% if params[:action] != "update" %>
    </tr>
<% end %>