<% if params[:action] == "new"%>
  <tr>
<% end %>
  <%= form_for(leave_request, html: { role: "form", multipart: true}, remote: true) do |f| %>
    <td>
      <div class="checkbox check-default">
                <input id="checkbox12" type="checkbox" value="1">
                <label for="checkbox12"></label>
            </div>
    </td>
    <td>
      <%= f.text_field :name, :class => "full-width", :placeholder => "Leave Request Name" %>
    </td>
    <td>
      <div class="input-append success date">
        <% if params[:action] == "edit"%>
          <%= f.text_field :start_date, :class => "form-control start_date", :id => "start_date", value: leave_request.start_date.strftime('%d-%m-%Y'), :onchange => 'myFunction()' %>
          <% else %>
          <%= f.text_field :start_date, :class => "form-control start-date", :onchange => 'myFunction()' %>
        <% end %>
        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> 
      </div>
      <% if params[:action] == "new"%>
        <%= f.hidden_field :employee_id, :value => params[:employee_id]%>
      <% else %>
        <%= f.hidden_field :id, :value => params[:id] %>
      <% end %>
    </td>
    <td>
      <div class="input-append success date">
         <% if params[:action] == "edit"%>
          <%= f.text_field :end_date, :class => "form-control end-date", :id => "end_date", value: leave_request.end_date.strftime('%d-%m-%Y'), :onchange => 'myFunction()' %>
          <% else %>
          <%= f.text_field :end_date, :class => "form-control end-date", :onchange => 'myFunction()' %>
        <% end %>
        <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> 
      </div>
    </td>
    <td>
      <%= f.collection_select(:reason, HolidayType.all, :name, :name,{},{ class: "form-control" }) %>
    </td>
    <td>
      <%= f.text_field :description, class: "full-width", placeholder: "Descripition" %>
    </td>
    <td><span class="badge badge-primary">Generate</span>
    </td>
    <td>
      <div>
        <% if params[:action] == "new" %>
          <%= f.submit "Add", class: "btn btn-success", :onclick => "submit_leave_request();"%>
        <% else %>
          <%= f.submit "Update", class: "btn btn-success", :onclick => "update_leave_request();"%>
          <% end %>
        </div>
    </td>
  <% end %>
<% if params[:action] == "new"%>
  </tr>
<% end %>