<%= javascript_tag render(:template => 'families/jsManager.js', :formats => [:js]) %>
<div class="container-fluid">
	<ul class="breadcrumb">
        <li><p>YOU ARE HERE</p></li> 
        <li><a href="/employees" class="active">Employee</a></li>
    </ul>
    
    <div class="page-title">	
    	<i class="fa fa-users"></i>
    	<h3><span class="semi-bold">Employee</span></h3>	
    </div>  
        <div class="form-group row">
                                          <div class="controls col-sm-8">            
                                             <%= hidden_field_tag :flag_employee, @employee.flag_employee , :id => "value-input", :readonly => true%>
                                          </div>
                                      </div>
        <div id="form-target">
        <div class="grid simple">
        	<div class="grid-body no-border has-tab">
                <%= render '/employees/tab_nav'%>
                <div class="tab-content">
                    <section class="tab-pane active" id="survey">
                      <div class="row toolbar-block">
                        <div class="col-md-8 col-md-offset-4">
                                <div class="toolbar pull-right" id="toolbar_main">
                                    <div class="table-tools-actions" id="button-new">
                                        <%= button_to new_family_path(:employee_id => params[:employee_id]), :method => 'get', :class => 'btn btn-success', :remote => true do %>
                                            <span class="fa fa-plus"></span> Add New
                                        <% end %>
                                    </div>
                                </div>
                                
                                <div class="toolbar pull-right hide" id="toolbar_upload">
                                    <div class="table-tools-actions">
                                        <button class="btn"><span class="fa fa-cloud-upload"></span> Upload</button>
                                        <div class="separator">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="toolbar pull-right" id="toolbar_def">
                                    <div class="table-tools-actions">
                                        <button class="btn" id="button_edit" onclick="edit_family()"><span class="fa fa-edit"></span> Edit</button> 
                                        <button class="btn" data-toggle="modal" data-target="#confirm_modal"><span class="fa fa-trash"></span> Remove</button> 
                                        <div class="separator">&nbsp;</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <table class="table no-more-tables table-striped table-hover" id='family'>
                            <thead>
                                <tr>
                                    <th style="width:1%" >
                                        <div class="checkbox check-default">
                                            <input id="checkbox" type="checkbox" value="1" class="checkall">
                                            <label for="checkbox"></label>
                                        </div>
                                    </th>
                                    <th>Status</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Education</th>
                                    <th>Work</th>
                                    <th width="15%" colspan='2'>Date of Birth</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if @families.count != 0 %>
                                    <% @families.each do |family|%>
                                        <%= render 'data', :family => family%>
                                    <% end %>
                                <% else %>
                                    <tr>
                                        <td colspan='8' align='center'>No Data Found !</td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </section>
				</div>
            </div>  
        </div>
        </div>
</div>

<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <br>
          <i class="fa fa-trash-o fa-7x"></i>
          <h4 id="myModalLabel" class="semi-bold">Are you sure want to remove this item(s)</h4>
          <!--<p class="no-margin">You'll be charged $29/Month and get immediate access to new plan </p>-->
          <br>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="delete_family();">Yes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
<!-- /.modal-dialog -->
</div>

<script type="text/javascript">
<!-- //Disable form -->
  $(document).ready(function(){
  var check=document.getElementById("value-input").value == "false";
  //check will be true or false
  if (check){
    $("#form-target :input").prop("disabled", false);
   }
  else{
    $("#form-target :input").prop("disabled", true);
    $("#form-target a").attr("disabled", "disabled");;
  }
    });
</script>