<div class="container-fluid">
      <ul class="breadcrumb">
            <li><p>YOU ARE HERE</p></li> 
            <li><a href="#" class="active">User Management</a></li>
        </ul>
        
        <div class="page-title">  
          <i class="fa fa-user"></i>
          <h3>User - <span class="semi-bold">Management</span></h3> 
        </div>  
            <div class="grid simple">
              <div class="grid-title no-border"></div>
              <div class="grid-body no-border">
          <div class="row toolbar-block">
                      <div class="col-md-4">
                          <div class="dataTables_filter" id="example3_filter">
                              <div class="controls">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Search Record">
                                      <span class="input-group-addon ">
                                        <i class="fa fa-search"></i>
                                      </span>
                                    </div>
                                  </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                          <div class="toolbar pull-right" id="toolbar_main">
                              <div class="table-tools-actions">
                                  <div class="btn-group">
                                      <%= link_to new_user_path, id: "editable-sample_new", class: "btn btn-primary", remote: true do %>
                                         Add New <i class="fa fa-plus"></i>
                                      <% end %>
                                      </div>
                                    <div class="btn-group">
                                      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="fa fa-gear"></span> <span class="caret"></span></button>
                                       <ul class="dropdown-menu pull-right">
                                         <li><a href="#" onclick="javascript:print();">Print</a></li>
                                        <li><%= link_to "Export to CSV", users_path(format: "csv") %></li>
                                        <li><%= link_to "Export to Excel", users_path(format: "xls") %></li>
                                      </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="space15"></div>

                    <%= render 'users', :users => @users %>

                        </div>
                    </div>
                </div>
            </div>
    </div>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
  <%= render 'new' if @user.present? && action_name == "create" %>
  <%= render 'edit' if @user.present? && action_name == "update" %>
</div>
<!-- modal -->