<div class="container-fluid">
  <ul class="breadcrumb">
        <li><p>YOU ARE HERE</p></li> 
        <li><a href="#" class="active">Absence</a></li>
    </ul>
    
    <div class="page-title">  
      <i class="fa fa-bullseye"></i>
      <h3><span class="semi-bold">Absence</span></h3>
    </div>  
        <div class="grid simple">
          <div class="grid-body no-border has-tab">
                <ul class="nav nav-tabs" id="tab-01">
                    <li class="active"><a href="#org">Absence</a></li>
                    <li><a href="#pos">Overdue</a></li>
                    <li><a href="#bolos">Alpha</a></li>
                </ul>
    
                <div class="tab-content">
                    <section class="tab-pane active" id="org">
                        <div class="row toolbar-block">
                            <div class="col-md-4">
                                
                            </div>
                            
                            <div class="col-md-8">
                                <div class="toolbar pull-right toolbar_main">
                                    <div class="table-tools-actions">
                                        <div class="btn-group">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="fa fa-gear"></span> <span class="caret"></span></button>
                                            <ul class="dropdown-menu right-edge">
                                              <li><a href="#">Something else here</a></li>
                                              <li class="divider"></li>
                                              <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="toolbar pull-right toolbar_upload">
                                  <% if !current_user.employee.not_check_out %>
                                      <% if current_user.employee.has_check_in %>
                                        <%= link_to check_out_absences_path, :method=> :post, class: "btn btn-success" do %>
                                          Check out <i class="fa fa-plus"></i>
                                        <% end %>
                                      <% else %>
                                        <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Permition <i class="fa fa-plus"></i> </a>
                                        <%= link_to check_in_absences_path, :method=> :post, class: "btn btn-success" do %>
                                          Check In <i class="fa fa-plus"></i>
                                        <% end %>
                                      <% end %>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                        
                        <table class="table no-more-tables table-striped table-hover">
                            <thead>
                                <tr>
                                    <th width="35%" style="width:9%">name</th>
                                    <th width="25%" style="width:22%"> Organization</th>
                                    <th width="29%" style="width:6%">shift</th>
                                    <th width="29%" style="width:6%">Date</th>
                                    <th width="29%" style="width:6%">in</th>
                                    <th width="29%" style="width:6%">out</th>
                                    <th width="29%" style="width:6%">overtime</th>
                                </tr>
                            </thead>
                            <tbody>
                              <% @absences.each do |absence|%>
                                <%= render 'data', absence: absence %>
                              <% end %>
                            </tbody>
                        </table>
                        
                        <div class="row dataTables_wrapper">
                            
                      </div>
                    </section>
                    
                    <section class="tab-pane" id="pos">
                        <div class="row toolbar-block">
                            <div class="col-md-4">
                                
                            </div>
                        </div>
                        
                        <table class="table no-more-tables table-striped table-hover">
                            <thead>
                                <tr>
                                    <th width="35%" style="width:9%">name</th>
                                    <th width="25%" style="width:22%"> Organization</th>
                                    <th width="29%" style="width:6%">shift</th>
                                    <th width="29%" style="width:6%">Date</th>
                                    <th width="29%" style="width:6%">in</th>
                                    <th width="29%" style="width:6%">out</th>
                                    <th width="29%" style="width:6%">overtime</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @absences_overdue.each do |absence|%>
                                  <%= render 'data', absence: absence %>
                                <% end %>
                            </tbody>
                        </table>
                        
                        <div class="row dataTables_wrapper">
                            
                        </div>
                    </section>

                    <section class="tab-pane" id="bolos">
                        <div class="row toolbar-block">
                            <div class="col-md-12">
                                <div class="toolbar pull-right toolbar_upload">
                                    <button class="btn" data-toggle="modal" data-target="#confirm_modal">
                                        <span class="fa fa-trash"></span> Remove
                                    </button> 
                                </div>
                            </div>
                        </div>
                        
                        <table class="table no-more-tables table-striped table-hover" id='alpha'>
                            <thead>
                                <tr>
                                    <th width="10%"></th>
                                    <th>Name</th>
                                    <th>Organization</th>
                                    <th>Shift</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if @alphas.count > 0 %>
                                    <% @alphas.each do |alpha|%>
                                      <%= render 'alpha', alpha: alpha %>
                                    <% end %>
                                <% else %>
                                    <tr><td colspan='4' align='center'>All employee has been entered office</td></tr>
                                <% end %>
                            </tbody>
                        </table>
                        
                        <div class="row dataTables_wrapper">
                            
                        </div>
                    </section>
                    
                </div>
            
            </div>
        </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> 
    <div class="modal-dialog" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                <h4 class="modal-title" id="myModalLabel">Permition</h4> 
            </div> 
            <div class="modal-body">
                <%= form_for @permition, url: permition_absences_path do |f|%>
                    <div class="form-group">
                      <%= f.label :reason, class: "col-sm-3 control-label" %>
                      <div class="col-md-6">
                        <%= f.text_area :reason, class: "form-control" %>
                      </div>
                    </div>
                <% end %>
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                <button type="button" class="btn btn-primary">Save changes</button> 
            </div> 
        </div>
    </div>
</div>

<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <br>
          <i class="fa fa-trash-o fa-7x"></i>
          <h4 id="myModalLabel" class="semi-bold">Are you sure want to permit employee(s)</h4>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="permit_alpha();">Yes</button>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
    function permit_alpha(){
        var check = [];
        $('#alpha input[type=checkbox]').each(function(){
            if ($(this).is(":checked")) {
                check.push(parseInt($(this).val()))
            }
        });
        $.ajax({
            url: '/absences/permition',
            type: 'post',
            data: {
                permit: check
            }
        });
    }

</script>