<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Employee name</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Phone Number</Data></Cell>
        <Cell><Data ss:Type="String">Position</Data></Cell>
        <Cell><Data ss:Type="String">Statue</Data></Cell>
        <Cell><Data ss:Type="String">Start</Data></Cell>
        <Cell><Data ss:Type="String">End</Data></Cell>
      </Row>
    <% @history_of_organizations.each do |history_of_organization| %>
      <Row>
        <Cell><Data ss:Type="String"><%= history_of_organization.employee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= history_of_organization.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= history_of_organization.phone_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= history_of_organization.position %></Data></Cell>
        <Cell><Data ss:Type="String"><%= history_of_organization.statue %></Data></Cell>
        <Cell><Data ss:Type="String"><%= history_of_organization.start %></Data></Cell>
        <Cell><Data ss:Type="String"><%= history_of_organization.end %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>