<div class="header navbar navbar-inverse "> 
  <div class="navbar-inner">
    <div class="header-seperation" style="display:none">
      <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
        <li class="dropdown">
          <a id="main-menu-toggle" href="#main-menu"  class="" >
            <div class="iconset top-menu-toggle-white"></div>
          </a>
        </li>
      </ul>
      <%= link_to dashboards_path do %>
        <img src="/assets/logo.png" class="logo" alt="" />
      <% end %>
    </div>
   
    <div class="header-quick-nav" > 
      <div class="pull-left">
        <ul class="nav quick-section">
          <li class="quicklinks">
            <a href="javascript:void(0)" class="" id="layout-condensed-toggle" >
              <i class="fa fa-bars"></i>
            </a>
          </li>
        </ul>
        <ul class="nav quick-section">
          <li class="m-r-10 input-prepend inside search-form no-boarder">
            <span class="add-on">
              <span class="iconset top-search"></span>
            </span>
            <input name="" type="text"  class="no-boarder " placeholder="Search Dashboard">
          </li>
        </ul>
      </div>
    
      <div class="pull-right">
        <!-- default data -->
        <ul class="nav quick-section">
          <li class="quicklinks">
            <a data-toggle="dropdown" data-placement="bottom" class="dropdown-toggle  pull-right " href="#" id="my-task-list">
              <div class="iconset icon-custom-message">
                <span class="badge badge-important animated bounceIn">1</span>
              </div>
            </a>
            <div id="notification-list" style="display:none">
              <div class="notification-messages info">
                <div class="user-profile">
                  <img src="/assets/profiles/d.jpg"  alt="" data-src="/assets/profiles/d.jpg" data-src-retina="/assets/profiles/d2x.jpg" width="35" height="35">
                </div>
                <div class="message-wrapper">
                  <div class="heading"> David Nester - Commented on your wall </div>
                  <div class="description"> Meeting postponed to tomorrow </div>
                  <div class="date pull-left"> A min ago </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="notification-messages danger">
                <div class="iconholder"> <i class="icon-warning-sign"></i> </div>
                <div class="message-wrapper">
                  <div class="heading"> Server load limited </div>
                  <div class="description"> Database server has reached its daily capicity </div>
                  <div class="date pull-left"> 2 mins ago </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="notification-messages success">
                <div class="user-profile">
                  <img src="/assets/profiles/h.jpg"  alt="" data-src="/assets/profiles/h.jpg" data-src-retina="/assets/profiles/h2x.jpg" width="35" height="35">
                </div>
                <div class="message-wrapper">
                  <div class="heading"> You haveve got 150 messages </div>
                  <div class="description"> 150 newly unread messages in your inbox </div>
                  <div class="date pull-left"> An hour ago </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </li>
          <li class="quicklinks"><span class="h-seperate"></span></li>
        </ul>
        <!-- default data -->
        <div class="chat-toggler"> 
          <a href="#" class="dropdown-toggle" data-placement="bottom"  data-content='' data-toggle="dropdown" data-original-title="Notifications">
            <div class="user-details">
              <div class="username">
                <%= current_user.first_name %> <span class="bold"><%= current_user.last_name %></span>
              </div>
            </div>
            <div class="profile-pic">
              <img src="<%= current_user.image_url(:mini) if current_user.image? %>" alt="" data-src="<%= current_user.image_url(:mini) if current_user.image? %>" data-src-retina="<%= current_user.image_url(:mini) if current_user.image? %>" onerror="this.src='/assets/profiles/user_def.png'" width="35" height="35"/>
            </div>
            <div class="iconset top-down-arrow"></div>
          </a>
          <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
            <li><a href="#"> My Account</a> </li>
            <li><%= link_to 'My Profile', edit_employee_path((current_user.employee.id rescue 0)) %></li>
            <li><a href="#">My Calendar</a> </li>
            <li><a href="#"> My Inbox&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a> </li>
            <li class="divider"></li>
            <li>
              <%= link_to("<i class='fa fa-power-off'></i>&nbsp;&nbsp;Log Out".html_safe, destroy_user_session_path, :method => :delete) %> 
            </li>
          </ul>
        </div>
        <ul class="nav quick-section ">
          <li class="quicklinks"> 
            <a data-toggle="dropdown" class="dropdown-toggle pull-right " href="#" id="user-options">
              <div class="iconset top-settings-dark "></div>
            </a>
          </li>
          <li class="quicklinks"><span class="h-seperate"></span></li>
          <li class="quicklinks"> <a id="chat-menu-toggle" href="#sidr" class="chat-menu-toggle" >
            <div class="iconset fa fa-comment"><span class="badge badge-important hide" id="chat-message-count">1</span></div>
            </a>
            <div class="simple-chat-popup chat-menu-toggle hide" >
              <div class="simple-chat-popup-arrow"></div>
              <div class="simple-chat-popup-inner">
                <div style="width:100px">
                  <div class="semi-bold">David Nester</div>
                  <div class="message">Hey you there </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>